
$orange: #757575


body {
	background-color: #ff4d4d;
}

.container {
	margin-top: 60px;
}

.search {
	background-color: #FFFFFF;
	height: 700px;
}

.info-block {
	margin-left: 10px;
	background-color: #FFFFFF;
	height: 700px;
}

.xuy {
    width: 100px;
    height: 100px;
}